<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supets.pet.mockui">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.supets.pet.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/CustomAppTheme">
        <!--Android7.0新增的广播权限验证-->
        <receiver
            android:name="com.supets.pet.service.CrashService"
            android:exported="true">
            <intent-filter>
                <action android:name="mock.crash.service" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.supets.pet.service.MockDataReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="mock.crash.network" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.supets.pet.service.MockDataProvider"
            android:authorities="com.supets.pet.mockprovider"
            android:exported="true" />

        <activity
            android:name="com.supets.pet.mock.ui.home.MockFlashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.supets.pet.mock.ui.home.MockUiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.crash.MockCrashUiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.detail.MockInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.config.MockConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.config.MockConfigJsonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.supets.pet.mock.ui.datamodule.MockModelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.datamodule.MockModelEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.tool.MockToolActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.email.MockEmailListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.crash.MockCrashListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.email.MockEmailEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.supets.pet.mock.ui.urltest.MockUrlRuleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.supets.pet.mock.ui.version.MockAboutActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <!--测试-->
        <service
            android:name="com.supets.pet.uctoast.ListenClipboardService"
            android:enabled="true"
            android:exported="true"
            android:process=":process" />

        <service
            android:name="com.supets.pet.alert.PullMsgService"
            android:exported="true"
            android:process=":supetsmsg" />

        <receiver
            android:name="com.supets.pet.uctoast.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--WIFI-->
        <activity
            android:name="com.baidusoso.wifitransfer.MainWifiApkActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.baidusoso.wifitransfer.WebService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/install_file" />
        </provider>

        <activity
            android:name="com.supets.pet.mock.ui.server.PCServerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.supets.pet.mock.ui.translate.TranslateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
